* {
    font-family: Helvetica;
}

.fixed-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
}


.container {
    margin: 5% 20%;
    gap: 20px;
}

.space {
    height: 30px;
}

.side_img.pig {
    clip-path: inset(0 0 4% 0);
    margin-bottom: -4%
}

.horizontal {
    display: flex;
    justify-content: space-between;
}

.pig_div{
    width: 250px;
    
}

.right {
    float: right;
}

.im_cap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.im_cap img {
    display: block;
}

.side_img {
    float: right;
    margin-left: 16px;
    width: 250px;
    height: auto;
}

.project-name {
    font-weight: bold;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}